<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--<property name="LOGS" value="./logs" />-->
    <property name="spring.application.name" value="krafton" />
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %yellow(%d{yyyy-MM-dd HH:mm:ss}) %blue(%5p) %yellow([${spring.application.name:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}])  %blue([%c]) %yellow([%13F:%L]) %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <!--<appender-ref ref="RollingFile" />-->
        <appender-ref ref="Console" />
    </root>

    <logger name="com.krafton.intra" level="trace" additivity="false">
        <!--<appender-ref ref="RollingFile" />-->
        <appender-ref ref="Console" />
    </logger>

</configuration>
